* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  font-family: "Red Hat Text", sans-serif;
  margin-inline: 24px;
  font-weight: var(--weigth-semibold);
  background-color: var(--rose-50);
}
@media screen and (width >= 1024px) {
  .body {
    margin-inline: 112px;
  }
}

:root {
  --h2-size: 40px;
  --h3-size: 24px;
  --h4-size: 16px;
  --h5-size: 14px;

  --line-heigt: 120%;

  --weigth-regular: 400;
  --weigth-bold: 700;
  --weigth-semibold: 600;

  --rose-900: #260f08;
  --rose-500: #87635a;
  --rose-400: #ad8a85;
  --rose-100: #f5eeec;
  --rose-50: #fcf8f6;
  --red: #c73b0f;
  --white: #ffffff;
}
.cards {
  display: grid;
}
@media screen and (width >= 768px) {
  .cards {
    grid-template-columns: repeat(3, 213px);
    gap: 24px;
  }
}
@media screen and (width >= 1024px) {
  .cards {
    grid-template-columns: repeat(3, 250px);
  }
}
.filters {
  display: flex;
  margin-bottom: 26px;
}
.card {
  display: flex;
  flex-direction: column;
  height: 319px;
  margin-bottom: 24px;
}
.image {
  border-radius: 10px;
}
.picture {
  position: relative;
  margin-bottom: 38px;
}
.picture-select {
  border-radius: 10px;
  border: solid var(--red) 2px;
}
.button-add {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 160px;
  left: 80px;
  border-radius: 90px;
  bottom: -20px;
  background-color: var(--white);
  color: var(--rose-900);
  border: solid 2px var(--rose-400);
  font-weight: var(--weigth-semibold);
  gap: 8px;
}
@media screen and (width >= 768px) {
  .button-add {
    left: 30px;
  }
}
@media screen and (width >= 1024px) {
  .button-add {
    left: 50px;
  }
}
.button-hover {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 44px;
  width: 160px;
  background-color: var(--red);
  border: none;
  border-radius: 90px;
  color: var(--white);
  left: 80px;
  bottom: -20px;
}

.filter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  font-size: var(--h5-size);
  padding: 12px;
  background-color: var(--white);
  color: var(--rose-900);
  border: solid 2px var(--rose-400);
  border-radius: 50px;
  margin-right: 18px;
  font-weight: var(--weigth-semibold);
}

.category {
  color: var(--rose-500);
  font-size: var(--h5-size);
  font-weight: var(--weigth-regular);
  margin-bottom: 4px;
}
.product {
  font-weight: var(--weigth-semibold);
  color: var(--rose-900);
  margin-bottom: 4px;
}
.price {
  color: var(--red);
  font-weight: var(--weigth-semibold);
}
.cart-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 299px;
  background-color: var(--white);
  padding: 24px;
}
@media screen and (width >=1024px) {
  .cart-empty {
    width: 384px;
  }
}
.title-cart {
  font-size: var(--h3-size);
  color: var(--red);
  font-weight: var(--weigth-bold);
  margin-bottom: 24px;
}
.text-cart-empty {
  font-weight: var(--weigth-semibold);
  color: var(--rose-500);
  font-size: var(--h5-size);
  border-radius: 12px;
}
@media screen and (width >=1024px) {
  .main-container {
    display: flex;
    gap: 32px;
  }
}

.hide {
  display: none;
}
